@model ErenAliKocaCV.Models.Skill

@{
    ViewData["Title"] = "Skill Details";
}

<div class="container-fluid">
    <h1 class="mb-4">Skill Details</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h5 class="mb-0">@Model.Name</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
                        
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Category)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Category)</dd>
                        
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Proficiency)</dt>
                        <dd class="col-sm-9">
                            <div class="progress" style="height: 25px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @(Model.Proficiency)%;" aria-valuenow="@Model.Proficiency" aria-valuemin="0" aria-valuemax="100">@Model.Proficiency%</div>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-2">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> 